.popup-edit__name-area {
  width: 358px;
  margin-top: 54px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 0;
}

@media screen and (max-width: 599px) {
  .popup-edit__name-area {
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 75px;
  }
}
